/*===================================
	2.3 Mega Menu
===================================*/
.site-header{
	&.is-sticky {
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 999;
	  background: #ffffff none repeat scroll 0 0;
	  @include animation(0.8s ease-out 0s normal none 1 running reveal-header);  
	}
}
.menu-bottom{
	clear: both;
	display: none;
}
.header-v4{
	.mega-menu .dropdown-menu li{
		border-bottom: 0;
		a{
			&:hover{
				background: transparent;
			}
		}
	}
}
.megamenu .menu-bottom{
	display: block;
    padding: side-values(17px 10px 0 10px) !important;	
	> img{
		padding: 0 15px;
	}
	> .image-1{
		width: 40%;
	    float: $left;
	    padding: 0 15px;		
	}
	> .image-2{
		width: 60%;
	    float: $left;
	    padding: 0 15px;		
	}
	&.image-pos-left{
	    float: $left;
	    clear: none;
	    > .image-1,	> .image-2{
	    	width: 100%;
	    }
	}
}

.logged-in.admin-bar{
	.site-header.is-sticky,.header-v4 .main-navigation{
		top: 32px;
	}
}
.mega-menu .megamenu .dropdown-menu li {
    border-bottom: none;
}
.main-navigation{
	.menu-toggle {
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	  border: medium none;
	  padding: 0;
	  text-transform: uppercase;
	  display: none;
	  .fa{
	  	margin-#{$right}: 10px;
	  	font-size: 12px;
	  }
	}
}
.dropdown-menu{
	padding:0;
	border-radius: 0;
	margin:0;
}
.left_side_menu{
	.dropdown-menu .dropdown-menu{
		#{$left}: auto;
	    margin-#{$left}: 0;
	    margin-#{$right}: 5px;
	    #{$right}: 100%;
	}
}
.mega-menu{
	display: inline-block;
	text-align: $left;
	vertical-align: middle;
    padding: 0;
    margin: 0;	
	z-index: 900;
	> li{
		display: inline-block;
	    list-style: none;	
		&:not(.megamenu){
			position: relative;
		}
		&:hover{
			> a{
				&:before {
				    #{$left}: 50%;				    
				}
				&:after {
				    #{$right}: 50%;
				    opacity: 1;
				}	
			}
		}
		>a{
			&:before {
				content: "";
			    background: #8c70ba;
			    height: 2px;
			    width: 5px !important;
			    opacity: 0;
			    position: absolute;
			    bottom: 20px;
			    #{$left}: 0;
			    -webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				display: none;
			}
			&:after {
				content: "";
			    background: #8c70ba;
			    height: 2px;
			    width: 5px !important;
			    opacity: 0;
			    position: absolute;
			    bottom: 20px;
			    #{$right}: 0;
			    -webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				display: none;
			}
		}
	}
	li{		
		&:hover{
			> .children{
			    visibility:visible;
			    opacity: 1;
			    transform: translate3d(0px, 0px, 0px);
			    -o-transform: translate3d(0px, 0px, 0px);
			    -ms-transform: translate3d(0px, 0px, 0px);
			    -moz-transform: translate3d(0px, 0px, 0px);
			    -webkit-transform: translate3d(0px, 0px, 0px);
			    pointer-events: auto;
			}
		}
		&.megamenu{
			&:hover{
				> .children{
					-webkit-transform: translateX(-50%) translate3d(0px, 0px, 0px);
					-moz-transform: translateX(-50%) translate3d(0px, 0px, 0px);
					-ms-transform: translateX(-50%) translate3d(0px, 0px, 0px);
					-o-transform: translateX(-50%) translate3d(0px, 0px, 0px);
					transform: translateX(-50%) translate3d(0px, 0px, 0px);
				}
			}
		}
		a{ 
		    padding: 28px 22px;
		    display: block;
		    text-transform: uppercase;
		    white-space: normal;
		    font-weight: 600;
		    color: #1f1f1f;
		    letter-spacing: 1px;
		    &:hover, &:focus{
		    	color: $primary_color;
		    }
		}
		.caret {
		  position: absolute;
		  #{$right}: 15px;
		  top: 10px;
		  z-index: 99999;
		  height: 30px ;
		  width: 30px;
		  text-align: center;
		  line-height: 26px;
		  font-size: 25px;
		  border: none;
		  margin: 0;
		  cursor: pointer;
		}
		.open {
			span.caret {
				text-indent: -999em;
				font-size: 24px;
				&::before{
					content: "-";
					position: absolute;
					top:-3px;
					#{$left}: 6px;
					display: block;
					text-indent: 1px;
					font-size: 40px;
				}
			}
		}
		&:hover, &.current-menu-item, &.current-menu-ancestor{
			> a{
				color: $primary_color;
			}
    		> a:before{
			    opacity: 1;
    		}
    	}
    	&.current-menu-item, 
    	&.current-menu-ancestor{
    		> a:before{
			    #{$left}: 50%;
    		}
    		> a:after{
			    #{$right}: 50%;
			    opacity: 1;
    		}
    	}
	}
	> li {
		> a {
			position: relative;
			&:hover{
				&:before{
					width: 100%;
				}
			}
		}
	}
	.dropdown-menu{
		-webkit-box-shadow: 0px 0px 1px 0px rgba(221,221,221,1);
		-moz-box-shadow: 0px 0px 1px 0px rgba(221,221,221,1);
		box-shadow: 0px 0px 1px 0px rgba(221,221,221,1);
		position: absolute;
	    #{$left}: -39px;
	    top: 100%;
	    min-width: 221px;
	    text-align: $left;
	    background: #fff;
	    border: 0;
	    -webkit-transform: translate3d(0px, 20px, 0px);
	    -moz-transform: translate3d(0px, 20px, 0px);
	    -ms-transform: translate3d(0px, 20px, 0px);
	    -o-transform: ttranslate3d(0px, 20px, 0px);
	    transform: translate3d(0px, 20px, 0px);
	    @include transitions(all 0.5s ease);
	    opacity: 0;
	    display: block;
	    visibility: hidden;
	    font-weight: 300;
	    z-index: 999;
    	padding: 0;	
    	pointer-events: none;    
		li{
			border-bottom: 1px solid #ebebeb;
			&:last-child{
				border-bottom: 0;
			}
			a{
				text-transform: capitalize;
				padding: 10px 25px;
				position: relative;
				background: none;
			    font-weight: normal;	
				font-size: 14px;
				color: #424242;
			    -webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;    				
				&:hover{
					color: $primary_color;	
				    filter: none;
				    -webkit-transition: all 0.3s ease;
    				transition: all 0.3s ease;   
    				background: #f7f7f7; 
				}
			}
		}
	}
	.cart-block{
		#{$right}: 15px;
		&.dropdown-menu{
			li{
				a{
					padding: 0;
					color: #303030;
					&.remove{
						color:#111;
					}
					&:hover{
						color:#000;
					}
				}
			}
		}
		.remove.remove-product {
		  top: -5px;
		}
	}
	.megamenu{
		.dropdown-menu > li > a{
			&:hover{
				color: #001111;
				background: none;
			}
		}
	}
	li ul li ul{
		padding: 0;
	}
}
.dropdown-menu .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    #{$left}: 100%;
    top: 0;
    margin-#{$left}: 3px;
    @include transform(rotateY(45deg));
}
.dropdown-menu li {
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.megamenu{
	.dropdown-menu{
		padding:21px 2px 24px;
		width: 90%;
		#{$left}: 50%;
		@include transform(translateX(-50%) translateY(20px));
		> li{
			padding: 0;
			display: inline-block;
		    list-style: none;	
			> a{
				color: #000;
				font-weight: bold;
				&:hover{
					margin-#{$left}: 0;
			    	&:before{
			    		display: none;
			    	}
			    }
			}
			.children{
				li{
					display: inline;
				}
			}
		}
	}
}
.btn-open, .btn-open-right {
  display: none;
  background: none;
  border: none;
  font-size: 20px;
}
.icon-next {
  font-size: 12px;
  margin-#{$left}: 3px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.right-header {
  display: inline-block;
  color: #afafaf;
  vertical-align: middle;
  	> li{
  		display: inline-block;
  	    list-style: none;	
  		padding: 20px;
  		border-#{$right}: 1px dashed #464646;
		position: relative;
		&:first-child{
			border-#{$left}: 1px dashed #464646;
		}
		&:before{
			background: #b7dc36 none repeat scroll 0 0;
			content: "";
			height: 5px;
			#{$left}: 0;
			overflow: hidden;
			position: absolute;
			bottom: -5px;
			width: 0;
			transition: width 0.3s ease-in-out 0s;
			-moz-transition: width 0.3s ease-in-out 0s;
			-webkit-transition: width 0.3s ease-in-out 0s;
			-ms-transition: width 0.3s ease-in-out 0s;
			-o-transition: width 0.3s ease-in-out 0s;
		}
		&:hover{
			&:before{
				width: 100%;
			}
		}
	}
}
.customlinks {
	position: relative;
	.dropdown-menu {
	  display: block;
	  opacity: 0;
	  z-index: 9990;
	  visibility: hidden;
	  	-webkit-transform: translate(0px, 20px);
		-moz-transform: translate(0px, 20px);
		-ms-transform: translate(0px, 20px);
		-o-transform: translate(0px, 20px);
		transform: translate(0px, 20px);
		-webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
		-moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
		-ms-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
		-o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
		transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	}
	&.open{
		.dropdown-menu{
			-webkit-transform: translate(0px, 0px);
			-moz-transform: translate(0px, 0px);
			-ms-transform: translate(0px, 0px);
			-o-transform: translate(0px, 0px);
			transform: translate(0px, 0px);
			opacity: 1;
		    visibility: visible;
		}
	}
}

//Search
.searchform {
    position: relative;
}
.search-block-top{
	display: inline-block;
	position: relative;
	.btn-search{
		position: relative;
	  	padding: 25px 20px;
	  	display: block;	  	
		&:hover{
			color: $primary_color;
		}
	}
	> .btn-search{
		font-size: 26px;
	}
	.top-search{
	  	.btn-search{
	  		position: absolute;
	  		top: 0;
	  		border: none;
	  		#{$right}: 12px;
	  		padding: 0;
	  		background: none;
	  		color: #000;
	  	}
	}
}
#mini-scart{
	.widget_shopping_cart_content .cart-btn .cart-btn {
	    display: inline-block;
	    width: auto;
	    margin-top: 10px;
	    &:first-child{
	    	float: $left;
	    }
	   	&:nth-child(2){
	    	float: $right;
	    }
	}
	a{
    	color: inherit;
    	&:hover{
    		color: $primary_color;
    	}
	}	
}
.widget_shopping_cart_content .cart-btn .cart-btn{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #cccccc;
    color: #8c8c8c;
    width: 100%;
    &:hover{
    	background: $primary_color;
    	border-color: $primary_color;
    	color: #fff;
    }
	&.checkout {
		margin-top: 15px;
	}
}
.widget_shopping_cart_content .cart-btn .cart-btn {
	letter-spacing: 0px;
    padding: side-values(7px 15px 7px 16px);
    margin-top: 10px;
    color: #8c8c8c;
    &:first-child{
    	background: $primary_color;
    	border-color: $primary_color;
    	color: #fff;
    	&:hover{
    		background: #000;
    		border-color: #000;
    	}
    }
   	&:nth-child(2){
    }
    &:hover{
    	color: #fff;
    }
}
.btn-search, .btn-close{
	cursor: pointer;
}
.top-search {
  top: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  #{$right}:0;
  background: none;
  z-index: 9900;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  visibility: hidden;
   width: 88%;
  .search-field,.search-form input[type="text"]{
	  float: $left;
	   height: 40px;
	  width: 100%;
	  background: #fff;
	  padding: 8px 15px;

	}
	.product-search{
		position: relative;
		.btn-search{
			position: absolute;
		    #{$right}: 10px;
		    padding: 0;
		    margin-top: 7px;
		    font-size: 22px;
		}
	}
}
.cart_nu_count, .cart_room_count{
	position: absolute;
    top: 15px;
    #{$right}: -8px;
    background: $primary_color;
    border-radius: 50%;
	height: 20px;
    width: 20px;
    line-height: 21px;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}
.search-block-top {
	.active.top-search{
	  opacity: 1;
	  visibility: visible;
	  -webkit-transform: scale(1);
	  -moz-transform: scale(1);
	  -ms-transform: scale(1);
	  -o-transform: scale(1);
	  transform: scale(1);
	}
}
.inline{display: inline-block;}
.top-search {
  width: 250px;
}
.caret{
	display: none;
}
.mini-cart,.header-wishlist {
  display: inline-block;
  i{font-size: 26px;}
}
.cart_label {
	display: block;
	position: relative;
	display: inline-block;
	padding: side-values(20px 0px 20px 20px);
	position: relative;	
}
.header-v1,.header-v2,.header-v3{
	.languges-flags{
		@include desktop {
		    height: 100%;
		    vertical-align: middle;
		    padding-top: 30px;
		    padding-bottom: 20px;	
		    border-#{$left}: none;
		    &:before{
				content: "";
			    height: 18px;
			    width: 1px;
			    background: #d5d5d5;
			    position: absolute;
			    #{$left}: 0;
			    top: 50%;
			    @include transform(translateY(-50%)); 
			    margin-top: -1px;	    	
		    }
		}	
	}
}
.header-v1,.header-v2{
	.cart-block,.top-search,.header-languages {
		box-shadow: none;
		border-top: 2px solid $primary_color;
	}
}
.header-v2{
	.languges-flags{
		@include desktop {
		    padding-top: 22px;
		}	
	}
}

.header-v3{
	.cart-block,.top-search,.header-languages{
		@include tablet {
			box-shadow: none;
			border-top: 2px solid $primary_color;
		}		
	}
	
	.languges-flags{	
		@include desktop {	
		    padding-top: 28px;
		    padding-bottom: 37px;
		    position: relative;
		    float: none;
		    #{$right}: 0;
		    &:before{
		    	#{$left}: -3px;
			    margin-top: -6.5px;
		    }
		}
	}    
    .search-block-top{
    	@include desktop {	
    		margin-top: -6px;
    	}
    }
    .mini-cart {
    	@include desktop {	
	    	margin-top: -4px;
	    	.cart_label {
			    padding: side-values(25px 0px 25px 20px);
			}
		}
	}	
}
.cart-block {
	background: #fff none repeat scroll 0 0;
	color: #000;
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
	border: none;
	float: none;
	#{$left}: auto;
	position: absolute;
	#{$right}: -30px;
	top: 100%;
	width: 319px;
	z-index: 999;
	padding: 0;
	margin: 0;
	opacity: 0;
	border-radius: 0;
	display: block;
	visibility: hidden;
	max-height: 400px;
	overflow: auto;
  -webkit-transform: translate(0px, 20px);
	-moz-transform: translate(0px, 20px);
	-ms-transform: translate(0px, 20px); 
	-o-transform: translate(0px, 20px);
	transform: translate(0px, 20px);
	-webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-ms-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	   &::-webkit-scrollbar { width: 3px; height: 3px;}
    // &::-webkit-scrollbar-button {  background-color: #666; }
    &::-webkit-scrollbar-track {  background-color: #999;}
    &::-webkit-scrollbar-track-piece { background-color: #ffffff;}
    &::-webkit-scrollbar-thumb { background-color: $primary_color; }
    &::-webkit-scrollbar-corner { background-color: #999;}
    &::-webkit-resizer { background-color: #666;}
}
.mini-cart {
  .cart-block{
  	background: #fff;
  }
  .active{
	border-radius: 0;
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	opacity: 1;
	visibility: visible; 
  }
}
.minicart_header{
	display: none;
}
.header-v2 .header-right{
	.hb_mini_cart_item{
		text-align: $left;
	}
}
.header-v3{
	.widget_room_cart_content{
		text-align: $left;
	}
}
.widget_room_cart_content{
	padding: 20px;
	.hb_mini_cart_footer{
		clear: both;
		padding-top: 15px;
	}
	.hb_title{
		a{
			color: #a1a1a1;
		    font-size: 15px;
		    line-height: 18px;
		    font-weight: normal;
		}
	}
	.hb_package_remove,
	.hb_mini_cart_remove{
		display: none;
	}
	.hb_mini_cart_item{
		padding: 15px 0;
		&:first-child{
			border-top: 0;
		}
	}
	.hb_mini_cart_number{
		display: inline-block;
		font-size: 12px;
	}
	.hb_mini_cart_price{
		display: inline-block;
		float: $right;
		font-size: 12px;
	}
	.hb_button{
		background: transparent;
		border: 2px solid $primary_color;
	}
}
.widget_shopping_cart_content {
	  padding: 21px 20px 0;
	  .wrap-mini-cart{
	  	padding-bottom: 20px;
	  }
	dl.variation{
		dt{
			color: #a1a1a1;
		    font-size: 12px;
		    display: block;
		    line-height: 18px;
		    font-weight: normal;
		    >p{
		        display: inline-block;	
		    }
		}
	}
	ul{
		width: 100%;
		float: $left;
	    margin-bottom: 3px;	
		li{
			display: block;
			padding-bottom: 25px;
		    position: relative;
		    text-align: $left;
		    float: $left;
		    width: 100%;
		    &.empty{
		    	padding-bottom: 15px;
		    }
		}
	}
	.cart-actions{
		.total .amount{
			font-size: 14px;
		}
	}
	.remove.remove-product {
	    top: -8px;
	}
	.remove-product {
		color: #a1a1a1;
	    height: 9px;
	    line-height: 22px;
	    position: absolute;
	    #{$right}: 0;
	    text-align: center;
	    top: -5px;
	    width: 9px;
		  &:hover{
		  	color: $primary_color;
		  }
		  i{
		  	font-size: 12px !important;
		  }
	}
	.cart-images{
		float: $left;
	}
	.cart-info {
	  padding-#{$left}: 18px;
	  overflow: hidden;
	  .product-name{
	    margin-top: -2px;
	  	a{
			text-transform: uppercase;
		    color: #000;
		    font-size: 14px;
		    font-weight: normal;
		    padding: 0;
		    margin-bottom: 0;
		    display: block;
		    margin-#{$right}: 25px;
		    line-height: 16px;    
	  		&:hover{
	  			color: $primary_color;
	  		}
	  	}
	  }
	  .qty-cart{
	  	> span{
		    color: #a1a1a1;
		    font-size: 12px;
		    display: block;
		    line-height: 18px;
		    font-weight: normal;    
		    >span{
		        color: #000;
			    padding-#{$left}: 5px;
			    font-size: 12px;
			    font-weight: 600;    	
			    > span{font-size: 12px; color: #000}
		    }
	  	}
	  }
	}
	.cart-actions {
		text-align: center;
		width: 100%;
		overflow: hidden;
	    border-top: 1px solid #ebebeb;
		.total {
			font-size: 14px;
		    text-transform: uppercase;
		    font-family: "Varela Round";
		    text-align: $left;
		    padding: 10px 0;
		    color: #a1a1a1;    
		    border-bottom: 1px solid #ddd;
		  .price{
		  	color: #000000;
		      float: $right;
		  }
		}
	}
	.cart-btn{
		text-align: center;
		overflow: hidden;
   		.btn-default{
   			letter-spacing: 1px;
   			padding: side-values(11px 41px 13px 43px);
   		}
	}
}

@-webkit-keyframes reveal-header {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes reveal-header {
  0% {
    opacity: 0;
    -moz-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
}
@-ms-keyframes reveal-header {
  0% {
    opacity: 0;
    -ms-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
}
@-o-keyframes reveal-header {
  0% {
    opacity: 0;
    -o-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0px);
  }
}
@keyframes reveal-header {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
     .link-contact {
	    padding: 21px 21px 22px;
	}
	.header-v2{
		.header-right .link-contact:first-child{
			padding-bottom: 18px;
		}
	}
 }