/*
Theme Name:   Solaz child theme
Theme URI:    http://hn.arrowpress.net/solaz/
Description:  Solaz - Elegant WooCommerce WordPress Theme.
Author:       AHT
Author URI:   http://arrowhitech.com/
Template:     solaz
Version:      1.0
License:      
License URI:  
Tags:         one-column, two-columns, right-sidebar,  custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain:  solaz-child
*/

.header-v1.is-sticky .header-logo {
	background-color: #f2f2f2;
}

.btq-book-now {
	display: none !important;
}

.banner-type-5 .banner-desc h2 {
	position: relative;
	top: auto;
	left: auto;
}

@media (max-width: 480px){
	.side-breadcrumb {
		height: 190px;
	}
	.side-breadcrumb h1 {
		font-size: 32px;
	}
	/*
	.vc_col-has-fill>.vc_column-inner{
		padding-bottom: 0px;
	}
	*/
}
@media (max-width:768px){
	.btq-book-now {
		display: block !important;
	}
	.btq-book-now ul li {
		background-color: #C5992D;
	    border: none;
	    color: white;
	    padding: 15px 70px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin: 0px 0px;
	    cursor: pointer;
	    border: 2px solid #C5992D;
	    align-content: center;
	    width: 100%;
	}
	.banner-type-5 .banner-desc h2 {
		font-size: 30px;
	}
}

ul.btq-menu li a{
	color: #FFFFFF;
}

.btq-menu li {
	display: inline;
	margin: 22px;
	margin-right: 2%;
}


textarea.wpcf7-form-control.wpcf7-textarea.form-control.placeholder{
    height: 150px;
}
/* Main Menu */
ul#menu-subheader-menu{
	height: 50px;
	padding-top: 5px;
}

/* Submenu */

.menu-subheader_menu-container, .menu-subheader_menu_en-container{
	padding-top: 20px;
	padding-bottom: 21.5px;
}

.dropdown-menu {
	min-width: 140px;
	text-align: right;
	right: -30px !important;
}

@media (min-width: 1231px) {
	.main-navigation .mega-menu li a{
		padding-left: 8px;
		padding-right: 8px;
	}
}
@media (max-width: 1230px) and (min-width: 992px) {
	.main-navigation .mega-menu li a{
		padding-left: 4px !important;
		padding-right: 4px !important;
		font-size: 11px !important;
	}
	.header-v1 .languges-flags + .search-block-top {
		right: 55px !important;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.header-v1 .mega-menu > li > a {
	    font-size: 11px;
	    padding-left: 3px !important;
		padding-right: 3px !important;
	}
	.header-v1 .languges-flags + .search-block-top {
		right: 55px !important;
	}
}


/*
.forcefullwidth_wrapper_tp_banner, .wpb_row{
	z-index: -10000000000 !important;
}
*/
