
h1 {
	font-family: 'Poppins' !important;
	font-weight: normal !important;
	font-style: normal !important;
}

h2,h3,h4,h5,h6 {
	font-family: 'Butler-Light' !important;
	font-weight: normal !important;
	font-style: normal !important;
}