/*------------------------------------------------------------------
[Table of contents]

1.0 Common & Reset style
	1.1 Config Skin

2.0 Base
	2.1 Header
	2.2 Footer
	2.3 Mega Menu
	2.4 Breadcrumds

3.0 Content
	3.1 Widget
	3.2 Blog
	3.3 Gallery
	3.4 Content
	3.5 Rooms
	3.6 Cart
	3.7 Config Options
	3.8 Product
	3.9 Page 404

4.0 Responsive

-------------------------------------------------------------------*/
// Make sure the charset is set appropriately
@charset "UTF-8";

$rtl: 0; 
$dir: ltr !default;
$text_color: #3d3935;
@font-face {
	font-family: 'Signalist';
	src: url('../fonts/Signalist-W00-Signalist.eot');
	src: local('☺'), url('../fonts/Signalist-W00-Signalist.woff') format('woff'), url('../fonts/Signalist-W00-Signalist.ttf') format('truetype'), url('../fonts/Signalist-W00-Signalist.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff2') format('woff2'),
    url('../fonts/fontawesome-webfont.woff') format('woff'),
    url('../fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
//  src: url('../fonts/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
@import "theme/directional";
@import 'config/config_skin';
@import "theme/typography";
@import "theme/base/header";
@import "theme/base/footer"; 
@import "theme/base/megamenu";
@import "theme/base/breadcrumds";

@import "theme/content/widget";
@import "theme/content/gallery"; 
@import "theme/content/product";
@import "theme/content/content";
@import "theme/content/page-404";
@import "theme/content/cart";
@import "theme/content/blog";
@import "theme/content/rooms";
@import "theme/content/config_options";
@import "theme/content/theme-responsive"; 
